* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.formWrapper {
    width: 40%;
    margin: 50px auto 0 auto;
    min-height: 70vh;
    border: 1px solid #C9D50D;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
.formText {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-align: center;
    font-size: 18px;
    font-family: segoe UI;
    justify-content: center;
    font-weight: 500;
}
.formText p {
    color: #C9D50D;
    font-size: 18px;
}
.formText small {
    color: #C9D50D;
    font-size: 18px;
}
.formText span {
    color: #C9D50D;
    font-size: 18px;
    font-family: segoe UI;
}
.inputContainer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.inputContainer label {
    font-size: 17px;
    font-family: segoe UI;
    font-weight: 400;
    color: #C9D50D;
}
.inputContainer input {
    width: 100%;
    height: auto;
    padding: 12px 10px;
    margin: 5px 0;
}
.inputContainer p {
    font-size: 22px;
    padding: 7px 0;
    color: #fff;
    font-weight: 600;
}
.ccv_and_cardYear {
    display: flex;
    gap: 20px;
}
.inputContainer button {
    width: 100%;
    margin: 20px auto 0 auto;
    padding: 15px 0;
    border: none;
    font-size: 15px;
    font-weight: 500;
    border-radius: 7px;
    color: #fff;
    background-color: #C9D50D;
}
.noAccount {
    color: #fff;
    padding: 7px 0;
    padding-bottom: 10px;
}
.noAccount a {
    color: #C9D50D;
}
.payment_buttons {
    width: 50%;
    margin: 10px auto 20px auto;
    display: flex;
    gap: 30px;
}
.payment_buttons button {
    width: 100%;
    margin: 10px auto 20px auto;
    padding: 10px 0;
    border: none;
    font-size: 15px;
    font-weight: 600;
    border-radius: 7px;
    color: #000;
    background-color: #C9D50D;
}
/* modal */
.customOverlay {
    background: rgba(208, 232, 243, 0.7);
  }
  .customModal {
    background: #16ad46;
    min-width: 200px;
    width: 30%;
    height: 70vh;
    border-radius: 10px;
    overflow: hidden;
  }
  .modalWrappper {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    border: 1px soild red;
  }
  .imageInModal {
    width: 100%;
    height: auto;
  }
  .modalWrappper button {
    width: 100%;
    padding: 15px 0;
    border: none;
    color: #000;
    font-weight: 600;
    font-size: 17px;
    border-radius: 9px;
    background-color: #C9D50D;
    margin-bottom: 10px;
  }
